<form [formGroup]="group">
  <ion-item lines="full">
    <ion-label position="floating">{{ field.label }}</ion-label>
    <ion-input *ngIf="field.inputType !== 'password'"
      [formControlName]="field.name"
      [type]="field.inputType" [readonly]="field.readonly"
      maxlength="{{ field.length || 250 }}"
    ></ion-input>

    <app-show-hide-password *ngIf="field.inputType === 'password'">
      <ion-input
      [formControlName]="field.name"
      [type]="field.inputType"></ion-input>
    </app-show-hide-password>
  </ion-item>
  <ng-container *ngFor="let validation of field.validations">
    <ion-item
      *ngIf="
        group.get(field.name).hasError(validation.name) &&
        group.get(field.name).touched
      "
      lines="none"
    >

    <app-validate-message [validation]="validation"></app-validate-message>
    </ion-item>
  </ng-container>
</form>
