<form [formGroup]="group">
  <ion-item>
    <ion-label position="floating">{{ field.label }}</ion-label>
    <ion-select interface="action-sheet" 
      [placeholder]="field.placeholder"
      [formControlName]="field.name"
    >
      <ion-select-option
        [value]="option.key"
        *ngFor="let option of field.options"
        >{{ option.value }}</ion-select-option
      >
    </ion-select>
  </ion-item>

  <ng-container *ngFor="let validation of field.validations">
    <ion-item
      *ngIf="
        group.get(field.name).hasError(validation.name) &&
        group.get(field.name).touched
      "
      lines="none"
    >

    <app-validate-message [validation]="validation"></app-validate-message>
    </ion-item>
  </ng-container>
</form>
