<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Dynamic Forms </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="getForm()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dynamic Forms</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-slides
  #formSlides
  >
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <dynamic-form
            *ngIf="!loading"
            [fields]="forms[0].fields"
            [formOptions]="formOptions"
            (formGroup)="setDynamicallyForm($event, demoForm)">
          </dynamic-form>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <dynamic-form
            *ngIf="!loading"
            [fields]="forms[1].fields"
            [formOptions]="formOptions">
          </dynamic-form>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>

<!-- <ion-footer>
  <ion-toolbar>
    <ion-button expand="full" fill="solid" (click)="submitForm()" [disabled]="!validForm">
      Enviar
    </ion-button>
  </ion-toolbar>


</ion-footer> -->

<ion-footer>
  <ion-toolbar *ngIf="currentSlide === 0" [ngClass]="{ 'disabled-button' :  !validForm }" (click)="next()" color="primary" class="ion-text-center">
    <ion-title>Siguiente</ion-title>
  </ion-toolbar>
  <ion-toolbar *ngIf="currentSlide > 0" (click)="submitForm()"  color="primary" class="ion-text-center">
    <ion-title>Guardar</ion-title>
  </ion-toolbar>
</ion-footer>
