<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <dynamic-form [fields]="regConfig" [formOptions]="formOptions" (formGroup)="setDynamicallyForm($event)"></dynamic-form>
    <!-- <dynamic-form [fields]="fields2"></dynamic-form> -->
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" fill="solid" (click)="submitForm()" [disabled]="!validForm">
      Enviar
    </ion-button>
  </ion-toolbar>
</ion-footer>
