<form [formGroup]="group">
  <ion-item lines="full">
    <ion-label position="floating">{{ field.label }}</ion-label>

    <ion-textarea
    [formControlName]="field.name"
    [readonly]="field.readonly"></ion-textarea>

  </ion-item>
  <ng-container *ngFor="let validation of field.validations">
    <ion-item
      *ngIf="
        group.get(field.name).hasError(validation.name) &&
        group.get(field.name).touched
      "
      lines="none"
    >

    <app-validate-message [validation]="validation"></app-validate-message>
    </ion-item>
  </ng-container>
</form>
