<form [formGroup]="group">
  <ion-item lines="full" (click)="field?.action()">
    <ion-label position="floating">{{ field.label }}</ion-label>

    <ion-input
      *ngIf="field.inputType !== 'password' && field?.action"
      [formControlName]="field.name"
      [type]="field.inputType"
      [readonly]="field.readonly"
    ></ion-input>
  </ion-item>
  <ng-container *ngFor="let validation of field.validations">
    <ion-item
      *ngIf="
        group.get(field.name).hasError(validation.name) &&
        group.get(field.name).touched
      "
      lines="none"
    >
      <app-validate-message [validation]="validation"></app-validate-message>
    </ion-item>
  </ng-container>
</form>
